[Unit]
Description=Air Link

[Service]
Type=simple
WorkingDirectory=/home/USER/
ExecCondition=/usr/bin/env bash --login -c 'command -v air-link >/dev/null || { echo "Error: air-link command not found. Please run \'pip install air-link\' as user \'USER\'." >&2; exit 1; }'
ExecStart=/usr/bin/env bash --login -c "air-link run"
User=USER
Group=USER
Restart=always

[Install]
WantedBy=multi-user.target
