[Unit]
Description=Air Link
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/env bash -i -c ./main.py
WorkingDirectory=/home/USER/air_link
User=USER
Group=USER
Restart=always

[Install]
WantedBy=multi-user.target
