[Unit]
Description=Air Link
After=multi-user.target

[Service]
Type=simple
ExecStart=air-link run
User=USER
Group=USER
Restart=always

[Install]
WantedBy=multi-user.target
